MC_User/Service References/ServiceReference1/SendMesseage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:55261/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost:55261/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:55261/">
      <s:element name="SendMultiple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messeages" type="tns:ArrayOfSingleMesseage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSingleMesseage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SingleMesseage" nillable="true" type="tns:SingleMesseage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SingleMesseage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MsgType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgTo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Messeage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMultipleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMultipleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSingle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messeage" type="tns:SingleMesseage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSingleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSingleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMultipleSoapIn">
    <wsdl:part name="parameters" element="tns:SendMultiple" />
  </wsdl:message>
  <wsdl:message name="SendMultipleSoapOut">
    <wsdl:part name="parameters" element="tns:SendMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="SendSingleSoapIn">
    <wsdl:part name="parameters" element="tns:SendSingle" />
  </wsdl:message>
  <wsdl:message name="SendSingleSoapOut">
    <wsdl:part name="parameters" element="tns:SendSingleResponse" />
  </wsdl:message>
  <wsdl:portType name="SendMesseageSoap">
    <wsdl:operation name="SendMultiple">
      <wsdl:input message="tns:SendMultipleSoapIn" />
      <wsdl:output message="tns:SendMultipleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSingle">
      <wsdl:input message="tns:SendSingleSoapIn" />
      <wsdl:output message="tns:SendSingleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendMesseageSoap" type="tns:SendMesseageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMultiple">
      <soap:operation soapAction="http://localhost:55261/SendMultiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSingle">
      <soap:operation soapAction="http://localhost:55261/SendSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMesseageSoap12" type="tns:SendMesseageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMultiple">
      <soap12:operation soapAction="http://localhost:55261/SendMultiple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSingle">
      <soap12:operation soapAction="http://localhost:55261/SendSingle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendMesseage">
    <wsdl:port name="SendMesseageSoap" binding="tns:SendMesseageSoap">
      <soap:address location="http://localhost:55261/SendMesseage.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMesseageSoap12" binding="tns:SendMesseageSoap12">
      <soap12:address location="http://localhost:55261/SendMesseage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>